<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Create Holding</title>

</head>
<body>
  <ul>
          <li><a class="" href="/">Home </a></li>
          <li><a class="" href="/users/new">User Profile Update</a></li>
          <li><a class="" href="/users">Users</a></li>
          <li><a class="" href="/auth">Login or Register</a></li>
          <li><a class="" href="/auth/logout">Logout</a></li>
          <li><a href="/holdings/new">Create a new Holding</a></li>
          <li><a href="/holdings/">Holdings</a></li>
</ul>

   
    <form action="/holdings" method="POST">
      
      <input type="text" name="name" placeholder="Name of the crypto"><br>
      <br>
      <input type="text" name="cost" placeholder="cost"><br>
      <br>
      <input type="number" name="numOfHoldings" placeholder="Quantity"><br>
      <br>
      <input type="number" name="marketPriceUSD" placeholder="price USD"><br>
      
      <button type="submit">Add Holding</button>
    </form>

</body>

</html>